
// remove grey background on link when touched/clicked in safari
// http://stackoverflow.com/questions/11885161/remove-grey-background-on-link-clicked-in-ios-safari
a,
button
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

// set some extra margin because phone elemets are above header
// https://gist.github.com/shazron/6602131
.topcoat-navigation-bar
  padding-top 10px