
// remove grey background on link when touched/clicked in safari
// http://stackoverflow.com/questions/11885161/remove-grey-background-on-link-clicked-in-ios-safari
a,
button
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

// make navigation bar smaller
.topcoat-navigation-bar__item
  line-height 3.375rem

.topcoat-navigation-bar
    height 3.375rem