@import colors

.alert
  padding 15px
  margin-bottom 20px
  border 1px solid transparent

.alert-success
  color #468847
  background-color #dff0d8
  border-color #d6e9c6

.alert-warning
  color #c09853
  background-color #fcf8e3
  border-color #faebcc

/* make link in alert more prominent */
.alert-warning .alert-link
  color #a47e3c

.alert-danger
  color var-danger-color
  background-color var-danger-background
  border-color var-danger-border-color