
// list group like bootstrap
.list-group
  background-color #e5e9e8

// list group item
.list-group--item
  display block
  padding 1.25rem
  border-top 1px solid #fff
  border-bottom 1px solid #9daca9
  text-decoration none
  color #454545

// icons in list group
.list-group--icon-right
  float right
  font-size 30px
  position relative
  top -5px

.list-group--icon-left
  float left
  position relative
  top -5px
  font-size 30px

.list-group--item-text
  margin-left 15px