
.navigation-bar--row
  display flex

.navigation-bar--left,
.navigation-bar--right,
.navigation-bar--middle
  overflow hidden
  text-overflow ellipsis

.navigation-bar--left,
.navigation-bar--right
  flex 1

.navigation-bar--middle
  flex 2
  text-align center

.navigation-bar--right
  text-align right