@import colors

.panel
  background var-navigation-bar-background
  border 1px solid #a5a8a8

.panel-heading
  padding 0 15px
  border-bottom 1px solid #d4d6d6

.panel-body
  padding 15px
  background whitesmoke