/* reset every border radius */
.topcoat-text-input
  border-radius 0

.topcoat-button
.topcoat-button--quiet
.topcoat-button--large
.topcoat-button--large--quiet
.topcoat-button--cta
.topcoat-button--large--cta
  border-radius 0

.topcoat-icon-button
.topcoat-icon-button--quiet
.topcoat-icon-button--large
.topcoat-icon-button--large--quiet
  border-radius 0

.topcoat-input-select--large,
.topcoat-input-select
  border-radius 0

.topcoat-date-input
  border-radius 0

/* remove padding from navigation bar so back links are closer to the edge */
.topcoat-navigation-bar
  padding-left 0
  padding-right 0
