
<header>
  <div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item full">
      <div class="navigation-bar--row">
        <div class="navigation-bar--left"><a href="#/opponents" class="navigation-bar--left-button"><span class="icon-ios7-arrow-left navigation-bar--button"></span><span>Opponents</span></a>
        </div>
        <div class="navigation-bar--middle">
          <h1 class="topcoat-navigation-bar__title">Add opponent</h1>
        </div>
        <div class="navigation-bar--right"></div>
      </div>
    </div>
  </div>
</header>
<main>
  <form>
    <div class="form-group">
      <label for="first">Player 1</label>
      <input id="first" type="text" placeholder="First name [optional]" ng-model="opponents[0].firstname" class="topcoat-text-input full"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Last name" ng-model="opponents[0].lastname" class="topcoat-text-input full"/>
    </div>
    <div class="form-group">
      <label for="second">Player 2</label>
      <input id="second" type="text" placeholder="First name [optional]" ng-model="opponents[1].firstname" class="topcoat-text-input full"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Last name" ng-model="opponents[1].lastname" class="topcoat-text-input full"/>
    </div>
  </form>
</main>
<div ng-if="saveSuccessAlert" class="container fadeOut">
  <div class="alert alert-success center"><span>Saved new opponent team</span></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <button ng-click="clear()" class="topcoat-button full">Clear</button>
    </div>
    <div class="col-xs-7">
      <button ng-click="save()" class="topcoat-button--cta full">Save</button>
    </div>
  </div>
</div>